/* Remove horizontal scroll bar */
html {
    overflow-x: hidden;
}

/* Header styling */
/* Gradient colour for background */
:root {
    --header-background: linear-gradient(to bottom, #2f3e46, #52796f);
}

header {
    background-color: #2f3e46;
    background: var(--header-background);
    margin-bottom: 10vmin;
}

/* Space from edges */
.nav-item:last-child {
    padding-right: 10vmin;
}

.navbar-brand {
    padding-left: 10vmin;
    font-family: 'Sanchez', serif;
}

/* Style navigation bar */
header a {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1rem;
    color: ghostwhite;
}

.nav-link:hover, .navbar-brand:hover, #get-started-button:hover, #meet-trainer-button:hover {
    color: #84a98c;
}

#welcome-message {
    padding: 22vmin 1vmin 35vmin;
}

.square-text {
    letter-spacing: 5px;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}


header .stand-out-text {
    font-size: 4rem;
    font-family: 'Sanchez', serif;
}


.buffed-paragraph {
    font-family: 'Indie Flower', cursive;
}

#get-started-button {
    color: #2f3e46;
}

.buffed-button {
    border-radius: 25px;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: bold;
}

/* Reviews Styling */
/* Adjust formatting */
.section-reviews .square-text {
    font-size: 3rem;
}

/* Cards styling */
.section-reviews .card {
    width: 75%;
}

.section-reviews .customer-name {
    font-family: 'Sanchez', serif;
}

.section-reviews .buffed-paragraph {
    font-size: 1rem;
}

#meet-trainer-button {
    margin-top: 3vmin;
    background-color: #2f3e46;
    color: ghostwhite;
}
