/* Remove horizontal scroll bar */
html {
    overflow-x: hidden;
}

/* Header styling */
/* Gradient colour for background */
:root {
    --gradient-background: linear-gradient(to bottom, #2f3e46, #52796f);
}

header {
    background-color: #2f3e46;
    background: var(--gradient-background);
    margin-bottom: 10vmin;
}

/* Space from edges */
.nav-item:last-child {
    padding-right: 10vmin;
}

.navbar-brand {
    margin-left: 10vmin;
}

/* Style navigation bar */
header a {
    font-family: 'Source Serif Pro', serif;
    font-size: 1rem;
    color: ghostwhite;
}

.nav-link:hover, .navbar-brand:hover, #get-started-button:hover, #meet-trainer-button:hover, #view-plans-button:hover, #contact-us-button:hover {
    color: #84a98c;
}

#welcome-message {
    padding: 22vmin 1vmin 35vmin;
}

.square-text {
    letter-spacing: 5px;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}


header .stand-out-text {
    font-size: 5rem;
    font-family: 'Raleway', sans-serif;
}


.buffed-paragraph {
    font-family: 'Source Serif Pro', serif;
}

#get-started-button {
    color: #2f3e46;
}

.buffed-button {
    border-radius: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

/* Reviews Styling */
/* Adjust formatting */
.section-reviews .square-text, .trainer-section .square-text, .plans-section .square-text, .contact-section .square-text {
    font-size: 3rem;
}

/* Cards styling */
.section-reviews .card, .plans-section .card {
    width: 75%;
}

.section-reviews .customer-name, .plans-section .plan-name {
    font-family: 'Raleway', sans-serif;
}

.section-reviews .buffed-paragraph, .plans-section .buffed-paragraph, .contact-section .buffed-paragraph {
    font-size: 1rem;
}

#meet-trainer-button, #view-plans-button, #contact-us-button, #submit-button {
    margin-top: 3vmin;
    background-color: #2f3e46;
    color: ghostwhite;
}

.section-reviews, .trainer-section, .plans-section {
    margin-bottom: 10vmin;
}

/* Trainer section styling */
.trainer-section .trainer-img {
    width: 80%;
    border-radius: 5vmin;
}

.trainer-section .panel {
    position: relative;
    top: 7vmin;
    left: -15vmin;
    border-radius: 5vmin;
    background: var(--gradient-background);
    padding: 10vmin 5vmin 10vmin;
    margin-bottom: 5vmin;
    text-align: left;
}

.trainer-section .panel h1 {
    font-family: 'Raleway', sans-serif;
    color: ghostwhite;
    font-size: 2em;
    font-weight: bold;
    padding-left: 2vmin;
}

.trainer-section .panel p {
    font-size: 1em;
    color: #cad2c5;
}

form {
    padding-top: 5vmin;
    width: 60%;
    margin: auto;
}